@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flipInX {
    from {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
      -webkit-transform: perspective(400px) rotateY(90deg);
      transform: perspective(400px) rotateY(90deg);
    }
    40% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: perspective(400px) rotateY(-20deg);
      transform: perspective(400px) rotateY(-20deg);
    }
    60% {
      opacity: 1;
      -webkit-transform: perspective(400px) rotateY(10deg);
      transform: perspective(400px) rotateY(10deg);
    }
    80% {
      -webkit-transform: perspective(400px) rotateY(-5deg);
      transform: perspective(400px) rotateY(5deg);
    }
    to {
      opacity: 1;
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }
  @keyframes popDown {
    0% {
      transform: translateY(-100px);
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-300px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes toBottomFromTop {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }
  @keyframes popIn {
    0% {
      transform: scale(0);
    }
    60% {
      opacity: 1;
      transform: scale(1.05);
    }
    80% {
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
  }
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    color:black;
    background-color: white;
    border-color: gray;
    border-radius: 25px;
  }


/* animations */
.slide-in-right {
  animation: 1s ease-out 0s 1 slideInRight;
  animation-fill-mode: both;
}
.slide-in-right-1 {
  animation: .8s ease-out .4s 1 slideInRight;
  animation-fill-mode: both;
}
.slide-in-right-2 {
  animation: 1s ease-out .6s 1 slideInRight;
  animation-fill-mode: both;
}

.slide-in-top {
  animation: .6s ease-out 0s 1 slideDown;
  animation-fill-mode: both;
}

.fade-in {
  animation: 1s ease-out 0s 1 fadeIn;
  animation-fill-mode: both;
}

.slide-up-button {
  animation: .5s ease-out 0s 1 slideUp;
  animation-fill-mode: both;
}

.card-style2 {
  position: relative;
  display: flex;
  transition: all 300ms ease;
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0;
  height: 100%;
}
.card-style2 .card-img {
  position: relative;
  display: block;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0.25rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card-style2 .card-img img {
  transition: all 0.3s linear 0s;
}
.card-style2:hover .card-img img {
  transform: scale(1.05);
}
.card-style2 .date {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 1;
  color: #4d84b7;
  overflow: hidden;
  padding-bottom: 10px;
  line-height: 24px;
  text-align: center;
  border: 2px solid #ededed;
  display: inline-block;
  background-color: #ffffff;
  text-transform: uppercase;
  border-radius: 0.25rem;
}
.card-style2 .date span {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #4d84b7;
  border-radius: 0.25rem;
}
.card-style2 .card-body {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 2rem;
}
.card-style2 .card-body h3 {
  margin-bottom: 0.8rem;
}
.card-style2 .card-body h3 a {
  color: #396187;
}
.card-style2 .card-body h3 a:hover {
  color: #4d84b7;
}
.card-style2 .card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  background: transparent;
  padding-right: 2rem;
  padding-left: 2rem;
  -ms-flex-align: end;
  align-items: flex-end;
}
.card-style2 .card-footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 0;
}
.card-style2 .card-footer ul li {
  font-size: 15px;
}
.card-style2 .card-footer ul li a {
  color: #394952;
}
.card-style2 .card-footer ul li a:hover {
  color: #4d84b7;
}
.card-style2 .card-footer ul li i {
  color: #4d84b7;
  font-size: 14px;
  margin-right: 8px;
}